<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/head'); %>
  </head>
  <body>
    <!-- Navigation -->
    <% if (typeof user != 'undefined') { %> 
      <%- include('layouts/nav', { user: user }); %> 
    <% } else { %> 
      <%- include('layouts/nav'); %> 
    <% } %>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('assets/img/license.png')">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
              <h1>Canada Driving License</h1>
              <span class="subheading">Apply and get your Driving License</span>
              <% if (typeof user != 'undefined') { %>
                <h1>Welcome <%= locals.user.username %></h1>
              <% } else { %>
                <h1>Welcome</h1>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </header>

    <form action="/add-appointment" method="post">
      <label for="date">Select Date:</label>
      <input type="date" id="date" name="date" required>
    
      <div>
        <label>Select Time Slot:</label>
        <button type="submit" name="time" value="9:00" <% if (locals.bookedSlots.includes("9:00")) { %>disabled<% } %>>9:00 AM</button>
        <button type="submit" name="time" value="9:30" <% if (locals.bookedSlots.includes("9:30")) { %>disabled<% } %>>9:30 AM</button>
        <button type="submit" name="time" value="10:00" <% if (locals.bookedSlots.includes("10:00")) { %>disabled<% } %>>10:00 AM</button>
        <button type="submit" name="time" value="10:30" <% if (locals.bookedSlots.includes("10:30")) { %>disabled<% } %>>10:30AM</button>
        <button type="submit" name="time" value="11:00" <% if (locals.bookedSlots.includes("11:00")) { %>disabled<% } %>>11:00 AM</button>
        <button type="submit" name="time" value="11:30" <% if (locals.bookedSlots.includes("11:30")) { %>disabled<% } %>>11:30 AM</button>
        <button type="submit" name="time" value="12:00" <% if (locals.bookedSlots.includes("12:00")) { %>disabled<% } %>> 12:00 PM</button>
        <button type="submit" name="time" value="12:30" <% if (locals.bookedSlots.includes("12:30")) { %>disabled<% } %>>12:30 PM</button>
        <button type="submit" name="time" value="01:00" <% if (locals.bookedSlots.includes("1:00")) { %>disabled<% } %>>01:00 PM</button>
        <button type="submit" name="time" value="01:30" <% if (locals.bookedSlots.includes("1:30")) { %>disabled<% } %>>01:30 PM</button>
        <button type="submit" name="time" value="02:00" <% if (locals.bookedSlots.includes("2:00")) { %>disabled<% } %>>02:00 PM</button>
       
      </div>
    </form>

    <!-- Footer -->
    <%- include('layouts/footer'); %>
    <!-- Bootstrap core JS -->
    <%- include('layouts/script'); %>
  </body>
</html>
