<!DOCTYPE html>
<html lang="en">
    <!--Head file--> 
    <%- include('layouts/head');  %>
    <body>
        <!-- Navigation-->
        <%- include('layouts/nav');%>
        
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/license.png')">
                        <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Apply for G License</h1>
                            <span class="subheading">Apply and get your Driving License</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <!-- <p>Enter your details here</p> -->
                        <!-- <div class="my-5">
                            
                            
                            <form id="contactForm" 
                                    data-sb-form-api-token="API_TOKEN"
                                    method="GET"
                                    action="/findUser">
                                <div class="form-floating">
                                    <input class="form-control" 
                                            id="licensenumber" 
                                            name="licenseNo"
                                            type="number" 
                                            placeholder="Enter your License number" 
                                            data-sb-validations="required,licensenumber" />
                                    <label for="licensenumber">License Number</label>
                                    <div class="invalid-feedback" 
                                        data-sb-feedback="licensenumber:required">A license number is required.</div>
                    
                                </div>
                               
                                <button class="btn btn-primary text-uppercase " 
                                        id="submitButton" 
                                        type="submit">Submit</button>
                            </form>


                        </div> -->
                    </div>
                </div>

                <!-- print results from find query only if results were found-->
                <% if ( typeof(result) != 'undefined' && result.length > 0) { %>
                    <table class="table table-striped">
                    <thead>
                        <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">License No.</th>
                        <th scope="col">Date of Birth</th>
                        <th scope="col">Age</th>
                        <th scope="col">Car:Make</th>
                        <th scope="col">Car:Model</th>
                        <th scope="col">Car:Year</th>
                        <th scope="col">Car:Plate Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% result.forEach ( (user) => { %>
                            <tr>
                            <th scope="row"><%= user._id %></th>
                            <td><%= user.firstname   %></td>
                            <td><%= user.lastname    %></td>
                            <td><%= user.licenseNo   %></td>
                            <td><%= user.DOB         %></td>
                            <td><%= user.age         %></td>
                            <td><%= user.car_make    %></td>
                            <td><%= user.car_model   %></td>
                            <td><%= user.car_year    %></td>
                            <td><%= user.car_plateno %></td>
                            <td><a href="/updateCarDetails?ID=<%= user._id %>">Update</a></td>
                            </tr>
                        <% } )%>
                    </tbody>
                    </table>
                <% } else if ( typeof(result) != 'undefined' && result.length == 0) { %>
                    <div class="alert alert-danger" role="alert">
                        License not found !
                    </div>
                <% } %>

            </div>
        </main>
        <!-- Footer-->
        <%- include('layouts/footer'); %>
        <!-- Bootstrap core JS-->
        <%- include('layouts/script'); %>
    </body>
</html>
